model/models/model-best/vocab/vectors.psd filter=lfs diff=lfs merge=lfs -text
model/models/model-final/vocab/vectors.psd filter=lfs diff=lfs merge=lfs -text
model/models/model-best/vocab/vectors filter=lfs diff=lfs merge=lfs -text
model/models/model-final/vocab/vectors filter=lfs diff=lfs merge=lfs -text
model/env/Lib/site-packages/hu_core_ud_lg/hu_core_ud_lg-0.3.1/vocab/lexemes.bin filter=lfs diff=lfs merge=lfs -text
model/env/Lib/site-packages/hu_core_ud_lg/hu_core_ud_lg-0.3.1/vocab/vectors filter=lfs diff=lfs merge=lfs -text
