.teachers-container h3 {
    width: 100%;
}

.test-form-container {
    padding: 1% 2%;
}

.test-padding-container {
    padding-left: 3%;
    padding-right: 3%;
}

.test-padding-container label {
    padding-right: 2%;
}

.test-form-container button {
    margin-top: 1%;
    margin-bottom: 1%;
}

.mytest-contentdiv {
    display: inline-block;
    width: 100%;
    align-content: center;
}

.mytest-blockdiv {
    display: inline-block;
    width: 20%;
    background-color: #bbe77e;
    border: 4px solid #73AD21;
    margin: 2% 2%;
    text-align: center;
    padding: 2% 0;
    border-radius: 25px;
}