.jumbotron-main {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0;
  height: 60vh;
  background-image: url("./images/textbook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
}

.jumbotron-main h1 {
  padding-top: 6%;
}

.buttons {
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0.2;
  filter: alpha(opacity=90);
}

.main-text {
  left: auto;
  right: auto;
  position: relative;
}

.main-text p {
  text-align: left;
  font-size: 20px;
}

.btn-circle,
#to-top {
  border-radius: 50%;
  background: #006674;
  padding: 6px;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.c2a-btn {
  margin: 4% auto 0;
}

.btn-default {
  color: #fff;
  background-color: #057b9c;
  border-color: #111e6c;
  transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 18px 45px;
  background-color: #059c51;
  border-color: #116c37;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 50px;
}

.btn-group .btn-or {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0;
  border: 2px solid #fff;
}

/*section 2*/
.text-container {
  margin: 0;
  padding: 1% 20%;
  background-color: white;
  text-align: justify;
}

/* section 3 */

.choose-container {
  width: 100%;
  margin: 0;
  padding: 1% 20%;
  display: flex;
}

.choose-container svg {
  margin-right: 7%;
}

.choose-container p {
  text-align: justify;
}

.choose-container .left {
  width: 30%;
  margin-right: 5%;
  background-color: white;
  padding: 2%;
}

.choose-container .center {
  width: 30%;
  margin-right: 5%;
  background-color: white;
  padding: 2%;
}

.choose-container .right {
  width: 30%;
  background-color: white;
  padding: 2%;
}

/*another jumbotron*/

.jumbotron-second {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0;
  height: 40vh;
  background-image: url("./images/writing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
}

.jumbotron-second h2 {
  text-align: left;
  color: black;
  text-shadow: 1px 1px black;
}

.jumbotron-second .main {
  width: 100%;
  height: 100%;
  position: relative;
}

.jumbotron-second .btn {
  margin-top: 5%;
  padding: 2% 7%;
}

/* section 4 */

.text-container-black {
  margin: 0;
  padding: 1% 20%;
  background-color: #424242;
  color: white;
  text-align: justify;
}

/* section 5 */

.messages-box {
  margin: 0 20%;
}

.message {
  border-radius: 10px;
  margin: 2% 20%;
  background-color: #e3e3e3;
}

.message h6 {
  padding: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #ededed;
  background-color: white;
}

.message svg {
  margin-right: 1%;
}

.message p {
  padding-left: 2%;
  padding-bottom: 2%;
}

.x-svg {
  margin-left: 84%;
}

/* section 6*/

.footer {
  flex-shrink: 0;
  padding: 2% 20%;
  text-align: center;
  background-color: #424242;
  color: white;
}

/* for tablets */
@media screen and (max-width: 768px) {
  .main-navbar {
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-navbar .app-title {
    padding-left: 0;
  }

  .jumbotron-main {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
    background-image: url("./images/textbook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
  }

  .main-text p {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black;
  }

  .text-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
  }

  .text-container-black {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
  }

  .choose-container {
    width: 100%;
    margin: 0;
    padding: 1% 10%;
    display: flex;
  }

  .choose-container svg {
    margin-right: 4px;
  }

  .choose-container .left {
    width: 33%;
    margin-right: 2%;
    background-color: white;
    padding: 2%;
  }

  .choose-container .center {
    width: 33%;
    margin-right: 2%;
    background-color: white;
    padding: 2%;
  }

  .choose-container .right {
    width: 33%;
    background-color: white;
    padding: 2%;
  }

  .choose-container h5 {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  .choose-container p {
    font-size: 14px;
  }

  .messages-box {
    margin: 0 2%;
  }

  .message svg {
    margin-right: 3%;
  }

  .x-svg {
    margin-left: 71%;
  }

  .jumbotron-second {
    padding-left: 10%;
    padding-right: 10%;
    height: 30vh;
    margin-bottom: 0;
  }

  .jumbotron-second h2 {
    font-size: xx-large;
  }

  .jumbotron-second .btn {
    margin-top: 0;
    padding: 2% 5%;
  }
}

/* for mobiles */
@media screen and (max-width: 480px) {
  .main-navbar {
    padding-left: 2%;
    padding-right: 2%;
  }

  .jumbotron-main {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 0;
    background-image: url("./images/textbook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
  }

  .jumbotron-main h1 {
    font-size: xx-large;
    font-weight: 700;
  }

  .jumbotron-main p {
    color: white;
    text-shadow: 1px 1px black;
  }

  .btn-group-lg > .btn,
  .btn-lg {
    padding: 20px 37px;
    font-size: 15px;
  }

  .text-container h3 {
    text-align: left;
  }

  .choose-container {
    margin: 4% 0;
    display: block;
  }

  .choose-container h5 {
    padding-top: 2%;
    font-size: large;
  }

  .choose-container svg {
    padding-top: 1%;
    margin-right: 5%;
  }

  .choose-container .left {
    width: 100%;
    margin: 5% 0;
    background-color: white;
    padding: 2%;
  }

  .choose-container .center {
    width: 100%;
    margin: 5% 0;
    background-color: white;
    padding: 2%;
  }

  .choose-container .right {
    width: 100%;
    margin: 5% 0;
    background-color: white;
    padding: 2%;
  }

  .message {
    margin: 0 5%;
  }

  .message p {
    padding-bottom: 6%;
  }

  .x-svg {
    margin-left: 66%;
  }

  .jumbotron-second {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
  }

  .jumbotron-second h2 {
    font-size: xx-large;
  }

  .jumbotron-second .btn {
    margin-top: 0;
    padding: 2% 5%;
  }
}
