.model-input {
    padding: 0 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.model-btn {
    background-color: #7EB356;
    color: #FEFEFE;
    width: 20%;
    margin-left: 40%;
}

.model-btn:hover {
    color: #FEFEFE;
}

.input-text {
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

.model-output {
    margin-left: 10%;
    width: 80%;
    align-content: center;
}

.fancy_box {
    display:inline-block;
    position: relative;
    background-color: #F9844A;
    color: #FEFEFE;
    padding: 1%;
    text-align: center;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
    margin-bottom: 2%;
}

@media only screen and (max-width: 1030px) {
    .fancy_box {
        width: 40%;
    }
  }

  @media only screen and (max-width: 600px) and (min-width: 290px) {
    .model-input {
        padding-top: 10px;
    }

    .model-output {
        width: 100%;
        margin-left: 0;
    }

    .fancy_box {
        width: 40%;
    }
    
    .fancy_box:nth-child(2n+1) {
        margin-left: 7%;
        margin-right: 5%;
    }

    .fancy_box h4 {
        margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 289px) {
    .fancy_box {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .model-btn {
        width: 40%;
        margin-left: 30%;
    }
  }

/*
alany: #ff8566, #ff3300
állítmány: bbe77e, 73AD21
tárgy: #ffff80, #ffff33
határozó: #b3ecff, #1ac6ff
jelző: #d9b3ff, #a64dff
*/