.left {
    width: 50%;
    text-align: center;
    float: left;
    padding: 1%;
}

.right {
    width: 50%;
    text-align: center;
    float: right;
    padding: 1%;
}

.left p {
    text-align: justify;
}

.right p {
    text-align: justify;
}

.left img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.right img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }