.lesson-container {
  background: #f3eff5;
  text-align: justify;
  margin: 2% 20%;
  /*display: flexbox;
  overflow: hidden;*/
}

.lesson-content {
  padding: 2%;
}

.lesson-container p {
  padding: 0 1%;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
}

.lesson-container button {
  margin: 2%;
}

.title-container {
  width: 100%;
  background-color: #e4dde0;
  padding: 2% 2%;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: left;
}

.btn {
  background-color: #7abb25;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.test-btn {
  width: 40%;
  border: 2px solid #348aa7;
  background-color: #348aa7;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4e7718;
}

/* Mobile */
@media screen and (max-width: 480px) {
  .lesson-container p {
    padding: 5% 10%;
    font-size: 16px;
  }

  .lesson-container button {
    margin: 5%;
    font-size: 15px;
  }

  .title-container {
    padding: 8% 4%;
    font-size: 30px;
  }
}
